@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #ffffff;
}

@supports (font-variation-settings: normal) {
  * {
    font-variation-settings: "wght" 400;
  }
}
